@model admin_mode.Models.ApplicationUser
@Scripts.Render("~/bundles/bootstrap-switch")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
    </div>
    <div class="form-inline">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

        <div class="form-group">
            @Html.LabelFor(model => model.EnrollmentDate, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class='input-group date' id='datetimepicker'>
                    @Html.EditorFor(model => model.EnrollmentDate, new {htmlAttributes = new {@class = "form-control"}})
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    @Html.ValidationMessageFor(model => model.EnrollmentDate, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        @*@{  //actionlink made to button with bootstrap icon inside the button
            //apo http://stackoverflow.com/questions/1547097/asp-net-mvc-how-to-include-span-in-link-from-html-actionlink
            //
            var enrollDate= Html.ActionLink("{0}", "AddUser", null, new { id = "AddUser", @class = "btn btn-sm bg-primary pull-right", data_modal = "" });
            var enrollDateS = enrollDate.ToString();
            var enrollDateHTML = string.Format(enrollDateS, "<span class=\"glyphicon glyphicon-plus\"> </span>   New User  ");
        }
        @Html.Raw(enrollDateHTML)*@
        @*<div class='input-group date' id='datetimepicker'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmailConfirmed, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EmailConfirmed)
                    @Html.ValidationMessageFor(model => model.EmailConfirmed, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("!pass","password", new { @class = "control-label col-md-2" })
            @*@Html.LabelFor(model => model.PasswordHash, htmlAttributes: new {@class = "control-label col-md-2"})*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.PasswordHash, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PasswordHash, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecurityStamp, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecurityStamp, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SecurityStamp, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.PhoneNumber, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumberConfirmed, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PhoneNumberConfirmed)
                    @Html.ValidationMessageFor(model => model.PhoneNumberConfirmed, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TwoFactorEnabled, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.TwoFactorEnabled)
                    @Html.ValidationMessageFor(model => model.TwoFactorEnabled, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEndDateUtc, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.LockoutEndDateUtc, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.LockoutEndDateUtc, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LockoutEnabled, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LockoutEnabled)
                    @Html.ValidationMessageFor(model => model.LockoutEnabled, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AccessFailedCount, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AccessFailedCount, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AccessFailedCount, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
            </div>
        </div>

         
    </div>

    <div class="form-group">
        <div class="col-md-offset-8 col-md-10">
            <input type="submit" value="Add User" class="btn btn-primary" />
            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
    </div>
}
 
 @section scripts{
    <script>
        $(function (argument) {
            $('[type="checkbox"]').bootstrapSwitch();
        });
    </script>
} 