@using admin_mode.Models
@using Microsoft.Ajax.Utilities
@model Dictionary<string, object>

@{
    ViewBag.Title = "User Details";
}

@Scripts.Render("~/bundles/bootstrap-switch")
<div class="modal-header">
    <button type="button" class="close  " data-dismiss="modal" aria-hidden="true">
        <div class="btn btn-danger">&times;</div>
    </button>
    <h4 class="modal-title" id="myModalLabel">User Details</h4>
</div>

<br />
@{ApplicationUser user = (ApplicationUser)Model["user"];}


<div class="modal-body">
    <dl class="dl-horizontal">
        <dt>
            ID
        </dt>
        <dd>
            @user.Id
        </dd>

        <dt>
            Email
        </dt>
        <dd>
            @user.Email
        </dd>

        <dt>
            @Html.LabelFor(m => user.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.UserName)
        </dd>

        <dt>
            @Html.LabelFor(m => user.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.EnrollmentDate)
        </dd>



        <dt>
            @Html.LabelFor(m => user.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.EmailConfirmed)
        </dd>

        <dt>
            @Html.LabelFor(m => user.PhoneNumber)
        </dt>
        <dd>
            @if (user.PhoneNumber.IsNullOrWhiteSpace())
            {
                @Html.Raw("-")
            }
            else
            {
                @Html.DisplayFor(m => user.PhoneNumber)

            }
        </dd>

        <dt>
            @Html.LabelFor(m => user.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.PhoneNumberConfirmed)
        </dd>

        <dt>
            @Html.LabelFor(m => user.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.TwoFactorEnabled)
        </dd>

        <dt>
            @Html.LabelFor(m => user.LockoutEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.LockoutEnabled)
        </dd>

        <dt>
            @Html.LabelFor(m => user.LockoutEndDateUtc)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.LockoutEndDateUtc)
        </dd>

        <dt>
            @Html.LabelFor(m => user.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(m => user.AccessFailedCount)
        </dd>

        <hr />
        <dt>
            @Html.LabelFor(m => user.ComboItems)
        </dt>
        @if (user.ComboItems.Count == 0)
        {
            <dd>
                @Html.Raw("-")
            </dd>
        }
        else
        {
            foreach (var comboItem in user.ComboItems)
            {
                <dd>
                    @comboItem.Name
                </dd>
            }
        }

        <hr />

        <dt>User is in role(s):</dt>
        @{
            var listOfRoles = (IList<string>)Model["UserRolesList"];
            if (listOfRoles.Count == 0)
            {
                <dd>
                    @Html.Raw("-")
                </dd>
            }
            else
            {
                foreach (var role in (IList<string>
                    )Model["UserRolesList"])
                {
                    <dd>
                        @role
                    </dd>
                }
            }
        }


    </dl>

</div>

<div class="col-md-offset-10 col-md-10">
    <button class="btn btn-primary" data-dismiss="modal">Ok</button>
</div> <br />

@section scripts{
    <script>
        $(function (argument) {
            $('[type="checkbox"]').bootstrapSwitch({ size: "mini" });
        });
    </script>
}