@using admin_mode.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/ForLogin")

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <br/>
    <br/> 
    <section id="loginForm">
        <form>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


            <label>
                @Html.TextBoxFor(m => m.Email, new { @required = true })



                <div class="label-text">
                    @@
                </div>
            </label>
            <label>
                @Html.PasswordFor(m => m.Password, new {@required = true})


                <div class="label-text" style="text-transform: inherit">
                    Pass
                </div>
            </label>
            <br/>
            <button>Log In</button>
        </form>
    </section>
}
@*<form>
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Email,new {@class= "label-text" })
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email,"", new { @class = "text-danger" })

            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


        }
    </form >*@
<br />
<br />
<hr />
<form>
    <section id="socialLoginForm">
        @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
    </section>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
