@using admin_mode.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
@Styles.Render("~/Content/ForLogin")
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <section id="loginForm">
        <form>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})




            <label>
                @Html.TextBoxFor(m => m.Email, new {@required = true})



                <div class="label-text">
                    @@
                </div>
            </label>
            <label>
                @Html.PasswordFor(m => m.Password, new {@required = true})


                <div class="label-text" style="text-transform: inherit">
                    Pass
                </div>
            </label>
            <button>Log in</button>
        </form>
    </section>
}
        @*<form>
                @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.LabelFor(m => m.Email,new {@class= "label-text" })
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email,"", new { @class = "text-danger" })

                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


                }
            </form >*@


        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
